<div class="container my-5 ">
  <div class="rounded-3 p-4 border shadow-lg bg-primary-dark text-secondary">
    <%# turbo_frame_tag 'conversation' do %>
      <h1>Conversations</h1>
      <p>Recent Messages</p>
      <p>1</p>
      <p>2</p>
      <p>3</p>
    <%# end %>
  </div>
</div>
