<div class="col">
  <div id="<%= dom_id item%>" class='card border-dark'>
    <%= cl_image_tag(item.image.key,aspect_ratio:1.0, crop: :fill, class:'card-img-top') if item.image.attached?%>
    <div class="card-content ratio ratio-21x9">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h4><%= item.plural %></h4>
        </li>
      </ul>
    </div>
  </div>
</div>
