<div class="container my-5 ">
  <div class="rounded-3 p-4 border shadow-lg bg-primary-dark text-secondary">
    <h1 class="text-secondary"><%= @item.plural %></h1>
    <div class="row row-cols-1 row-cols-lg-4 g-4">
      <% @listings.each do |item| %>
        <%= render partial:'listings/card', locals: {item: item, edit: true, display_attributes: []} %>
      <% end %>
    </div>
  </div>
</div>
