<div class="container my-5 ">
  <div class="rounded-3 p-4 border shadow-lg bg-primary-dark text-secondary">
    <h1 class="text-secondary"><%= @category.name %></h1>
    <div class="row row-cols-1 row-cols-lg-4 g-4">
    <div class="col col-12 w-100"><h2 class="text-secondary">Listings</h2><hr /></div>
      <%= render partial: 'create_listing', locals: {item: @category} %>
      <% @listings.each do |listing| %>
        <%= render partial: 'listing', locals: {item: listing} %>
      <% end %>
      <div class="col col-12 w-100"><h2 class="text-secondary">Categories</h2><hr /></div>
      <% @items.each do |item| %>
        <%= render partial:'category', locals: {item: item} %>
      <% end %>
    </div>
  </div>
</div>
